/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
html{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
*,*::before,*::after{
   -webkit-box-sizing: inherit;
           box-sizing: inherit;
}
body{
    font-family: 'Lato';
    font-weight: normal;
    line-height: normal;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
    height: auto;
}
.section__title{
    color: #102746;
    font-weight: 500;
    font-size: 35px;
    line-height: 100%;
    position: relative;
}
.section__title::after{
    display: block;
    content: '';
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 253px;
    height: 2px;
    background: #006DFE;
}
/*wrapper start*/
.wrapper__full{
    max-width: 1262px;
    margin: 0 auto;
    padding: 0 50px;
}   
.wrapper {
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 50px;
}
.header__wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; 
    margin-top: 26px;
    } 
/*wrapper end*/
/*header start*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transition: .2s linear;
    -o-transition: .2s linear;
    transition: .2s linear;
    padding: 20px;
    z-index: 999;
}
.header_activ{
    background: rgba(14, 29, 40, 1);
}
.header__list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:end;
        -ms-flex-pack:end;
            justify-content:flex-end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    
}
.header__ietem{
    margin-right: 82px;
}
.header__ietem:last-child{
    margin-right: 0;
}
.header__link{
    /* text-decoration: none; */
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: white;
    cursor: pointer;
}
.header__link:hover,.header__link:active,.header__link:focus{
    opacity: .75;
}
/**/
.header__burger{
    width: 40px;
    height: 28px;
    position: relative;
    display: none;
}
.burger__line{
    display: block;
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: 0;
}
.burger__line_1{
    top: 0;
}
.burger__line_2{
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}
.burger__line_3{
    bottom: 0;
}
/**/
/*header end*/
/*hero start*/
.intro{
    min-height: 100vh;
    background: url(../img/jpg/hero__bg-min.jpg) no-repeat center center;
    background-size: cover ;
    padding-bottom: 100px;
}
.intro__title{
    padding-top: 266px;
}
.intro__title{
    width: 100%;
    font-weight: 500;
    font-size: 50px;
    line-height: 100%;
    color: white;
    margin-bottom: 22px;
}
.intro__text{
    width: 100%;
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 59px;

}
.search__form-info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 61px;
    margin-bottom: 253px;
}
.search__form-fild{
    background: transparent url(../img/svg/Oval@2x.svg) no-repeat left top 5%;
    background-size: 20px;
    width: 297px;
    border: none;
    border-bottom: 2px solid #BFC0C5;
    padding-left: 43px;
    padding-bottom: 20px;
    color: white;
}
.search__form-fild::-webkit-input-placeholder{
    color: white;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}
.search__form-fild::-moz-placeholder{
    color: white;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}
.search__form-fild:-ms-input-placeholder{
    color: white;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}
.search__form-fild::-ms-input-placeholder{
    color: white;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}
.search__form-fild::placeholder{
    color: white;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}
.search__btn{
    color: white;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    padding: 15px 39px;
    background: #1B7DFF;
    border: none;
    cursor: pointer;
}
.search__btn:hover,.search__btn:focus,.search__btn:active{
    opacity: .75;
} 
/*hero end*/
/*benefits start*/
.benefits {
    margin-bottom: 131px;
}
.benefits__wrapper {
    max-width: 1262px;
    background: white;
    margin: 0 auto;
    -webkit-box-shadow: 0px 2px 20px 0px #15182429;
            box-shadow: 0px 2px 20px 0px #15182429;
    position: relative;
}
.benefits__title {
    color: #102746;
    font-weight: 500;
    font-size: 35px;
    line-height: 100%;
    padding: 93px 100px 88px 100px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    background: white;
    width: 100%;
}
.benefits__cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 55px 1fr 55px 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap : 55px;
    padding: 0 100px;
}
.benefits__card {
    -ms-grid-column-span: 1;
    grid-column: span 1;
    margin-bottom: 112px;
}
.benefits__card-image {
    margin-bottom: 37px;
    max-width: 66px;
}
.benefits__card_img {
    display: block;
}
.benefits__card-title {
    color: #000;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 26px;
}
.benefits__card-text {
    /* width: 317px; */
    color: #000;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 39px;
}
.benefits__card-search {
    color: #006DFE;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.benefits__card-search::after {
    background: url(../img/svg/arow.svg) no-repeat right center;
    content: '';
    display: inline-block;
    width: 33px;
    height: 8px;
    margin-left: 26px;
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    transition: -webkit-transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.benefits__card-search:hover::after {
    -webkit-transform: translateX(5px);
        -ms-transform: translateX(5px);
            transform: translateX(5px);
    opacity: .75;
}
/*benefits end*/

/*places start*/
.places{
    margin-bottom: 131px;
}
.places__title{
    margin-right: 15px;
}
.places__top{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 50px;
}
.places__view{
    color: #006DFE;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.places__view::after{
    background: url(../img/svg/arow.svg) no-repeat;
    content: '';
    display: inline-block;
    width: 33px;
    height: 8px;
    margin-left: 26px;
}
.places__view:hover:after,.places__view:focus:after,.places__view:active:after{
    opacity: .75;
}
.places__cards{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr;
    grid-template-columns: repeat(6,1fr);
    gap: 10px;
}
.places__card{
    position: relative;
    overflow: hidden;
}
.places__card:hover .places__card-pic{
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);

}
.places__card::after{
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #15182466;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.places__card-title{
    color: white;
    position: absolute;
    bottom: 27px;
    left: 29px;
    font-weight: 700;
    font-size: 50px;
    line-height: 100%;
   
    z-index: 3;
}
.places__card-top{
    -ms-grid-column-span: 3;
    grid-column: span 3;
}
.places__card-buttom{
    -ms-grid-column-span: 2;
    grid-column: span 2;
}
.places__card-pic{
    width: 100%;
    height: 354px;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}
.places__card-link{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 4;
}
/*places end*/
/*guide start*/
.guids{
    margin-bottom: 139px;
}
.guide__goide{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 108px 1fr;
    grid-template-columns: repeat(2,1fr);
    gap: 108px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 57px;
}
.guide__title{
    color: #102746;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 85px;
}
.guide__text{
    color: #102746;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;

    margin-bottom: 58px;
}
/*guide end*/
/*top start*/
.top{
    margin-bottom: 144px;
}
.top__title{
    margin-bottom: 54px;
}
.top__cards{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 57px 1fr 57px 1fr 57px 1fr 57px 1fr 57px 1fr;
    grid-template-columns: repeat(6,1fr);
    gap: 57px;
}
.top__card-pic{
    position: relative;
    margin-bottom: 45px;
}

.top__card-stat{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #15182499;
    padding: 15px 25px;

}
.top__card-title{
    color: white;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin: 0 auto 0 0;
}
.top__card-likes{
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding-right: 20px;
    background: url(../img/svg/top__likes.svg) no-repeat right;
    background-size: 15px;
    margin-right: 14px;
}
.top__card__comments{
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding-right: 23px;
    background: url(../img/svg/state_comment.svg) no-repeat right;
}  
.top__card-tex{
   color: #102746;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 31px;
} 
.top__card-search{
    width:118px;
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    background: #006DFE;
    padding: 12px 19px;
    margin: auto 0 0 0;
}
.top__card-search:hover,.top__card-search:active,.top__card-search:focus{
    opacity: .75;
}
.top__card{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-grid-column-span: 2;
    grid-column: span 2;
}
/*top end*/
/*video start*/
.videos{
    width: 100%;
}
.video__wrap{
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
        
    }
.video__item{
    padding-top: 49.5%;
    }
.video__element{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    }
/*video end*/
/*footer start*/
.footer{
    background: rgba(14, 29, 40, 1);
    padding: 100px;
    padding-bottom: 100px;
}

.footer__wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.footer__menu-items{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 139.5px;
}
.footer__menu-title{
    color: #006DFE;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 10px;

}
.footer__menu-link{
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    margin-bottom: 3px;
}
.footer__menu-link:hover,.footer__menu-link:focus,.footer__menu-link:active{
    opacity: .75;
}
/*footer end*/